// ==========================================================================
//  Foundation
//==========================================================================
@import "./foundation/vendor";
@import "./foundation/variables";
@import "./foundation/mixin";
// ==========================================================================
//  Layout
// ==========================================================================

// @import "layout/footer";

// ==========================================================================
// Object
// ==========================================================================
   
// Component
// -----------------------------------------------------------------

// Project
// -----------------------------------------------------------------

// Utility
// -----------------------------------------------------------------


// This is just for example.
.hello {
     @include pc(){
        background-image: url("../img/big.jpg");
        padding: 100px;
    }
    @include sp(){
        background-image: url("../img/small.jpg");
        padding: 1000px;
    }
}