// ==========================================================================
//  Foundation
//==========================================================================
@import "./foundation/vendor";
// ==========================================================================
//  Layout
// ==========================================================================

// @import "layout/footer";

// ==========================================================================
// Object
// ==========================================================================
   
// Component
// -----------------------------------------------------------------

// Project
// -----------------------------------------------------------------

// Utility
// -----------------------------------------------------------------
.hello {
    background-image: url("../img/small.jpg");
    padding: 100px;
}
.hello2 {
    background-image: url("../img/big.jpg");
    padding: 1000px;
}